/* utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 65%;
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col-2 {
    width: calc( (100% / 12) * 2) ;
}

.col-3 {
    width: calc( (100% / 12) * 3 );
}

.col-4 {
    width: calc( (100% / 12) * 4 );
}

.col-5 {
    width: calc( (100% / 12) * 5 );
}

.col-6 {
    width: calc( (100% / 12) * 6 );
}

.col-7 {
    width: calc( (100% / 12) * 7 );
}

.col-12 {
    width: calc( (100% / 12) * 12 );
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

/* palette */

:root {
    --primary-color: #00008B;
    --dark: #1E90FF;
    --main: #20B2AA;
    --darker-main: #228B22;
    --darker: #23272A;
    --light-main: #7FFFD4;
    --light-header: #ADD8E6;
    --lighter-main: #D3D3D3;
    --dark-header: #DAA520;
    --dark-footer: #F08080;
    --light-footer: #FFC0CB;
    --light: #FFFFFF;
    --head-pink: #ee82ee;
}

/* header */


#site_header {
    background-color: var(--light-header);
    /* height: 100px; */
    padding: 1rem;
}

/* navbar */

#navbar {
    display: flex;
    background-color: var(--dark-header);
    padding: 1rem 1rem;
    margin: 0 10rem;
    justify-content: space-between;
}

/* main */

.blue_back {
    background-color: var(--primary-color);
    max-width: 100%;
    width: 100%;
    height: 400px;
}

.head_block {
    background-color: var(--head-pink);
    height: 320px;
    width: 50%;
    max-width: 1000px;
    margin: auto;
    color: white;
}

.blue {
    background-color:  var(--dark);
    height: 350px;
    margin: 2rem 0;
}

.pink {
    background-color: var(--light-footer);
    height: 350px;
    margin: 2rem 0;
}

.grey_back {
    background-color: var(--lighter-main);
}

.green {
    background-color: var(--darker-main);
    max-width: 1200px;
    width: 100%;
    height: 600px;
    margin: 2rem auto;
}

/* footer */

#site_footer {
    background-color: var(--darker);
}

.dark_footer {
    background-color: var(--dark-footer);
    height: 400px;
    margin: 10px 0px 25px;
}

.azure {
    background-color: var(--main);
    height: 400px;
    margin: 10px 0px 25px;
    border: 1px solid white;
}

.box_footer {
    background-color: var(--light-main);
    height: 80px;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.footer_logo,
.sign_in {
    background-color: #ffb6c1;
    padding: 0.5rem;
    border: 1px solid black;
}

